.task-filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.7rem;
}

.filter-select {
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  border: 1px solid #bbb;
  background: #eaf7ff;
  color: #222;
  font-size: 0.9rem;
  cursor: pointer;
}
