.task-filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
}

.task-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
